
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


:root{
    --header-height: 40vh;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   height: 95vh;
   width: 95vw;
  margin: auto;
  background-color: #e6e2e2;
}

.header{
    height:var(--header-height);
    background: linear-gradient(rgba(248, 247, 247, 0.45),rgba(245, 236, 236, 0.3)),url(food\ img.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-size: 1.5rem;
}

.header h1{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: rgb(32, 34, 34);
}

.search {
    width: 300px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    padding: 10px; /* Optional: Add padding for better appearance */
    font-size: 16px; /* Optional: Adjust font size */
    display: flex;
    flex-direction: row;
  }

.recipe-container{
    /* border: 1px solid green; */
    padding: 50px 0px;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

#recipec{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.recipe{
    /* border: 1px solid black; */
    height: 300px;
    margin: 10px;
    padding: 4px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 200ms ease-in-out;
    box-shadow: 5px 5px 10px 0px rgba(70, 69, 69, 0.5);
    background-color: whitesmoke;
    border-radius: 4px;
}

.recipe-title{
    height: 30px;
    font-size: x-large; 
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.recipe-img{
    height: 230px;
}
.recipe-img img{
    width: 100%;
    height: 100%;
}

.recipe-text{
    background-color: rgb(163, 168, 168);
    visibility: hidden;
    opacity: 0;
    height: 0px;
    transition: all 200ms ease-in-out;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 20px;
    font-weight: 300;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    transform: scale(.8);
    transform-origin: top left;
}

.recipe-text ul{
    list-style-type: circle;
    list-style-position: inside;
    text-align: left;
    padding: 5px;
}

.recipe-text ul > li{
    padding: 5px;
}

.recipe:hover .recipe-text{
   height: 120px;
   visibility: visible;
   opacity: 1;
   transform: scale(1);
}

.recipe:hover{
    height: 400px;
}
